{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 200px; margin-bottom: 200px;">
    <h2>Contact Us</h2>

    <h3>We’re here to help!</h3>
    <p>If you have any questions, concerns, or feedback, please reach out to us.</p>
    
    <h4>Get in Touch</h4>
    <p><strong>Email:</strong> <a href="mailto:support@hamrosubscription.com">support@hamrosubscription.com</a></p>
    <p><strong>Phone:</strong> +977 9764253946</p>
    <p><strong>Address:</strong><br>
        Hamrosubscription<br>
        Hetauda-2, Shakyaplaza<br>
        Makwanpur</p>
    
    <h4>Customer Support Hours</h4>
    <p><strong>Sunday to Friday:</strong> 9 AM - 12 AM</p>
    <p><strong>Saturday:</strong> 4 PM - 10 PM</p>
    
    <h4>Privacy Policy</h4>
    <p>Your privacy is important to us. For more information on how we collect and use your data, please refer to our <a href="{% url 'frontend:privacy_policy' %}">Privacy Policy</a>. If you have any questions about it, feel free to contact us.</p>
    
    <p>Thank you for reaching out! We look forward to assisting you.</p>
</div>
{% endblock %}


