{% extends 'frontend/base.html' %}
{% load static %} 
{% block title %}
Privacy Policy 
{% endblock %}
{% block content %}
<section class="padding-x-120">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="custom-card p-3 bg-gradient">
                <p></p>
                <h1><span><span>Privacy Policy </span></span></h1>
                <span><span>Applicable Law</span></span>
                <p></p>
                <p><span>Please refer to our Privacy Policy for information about how we collect, use, and disclose information about our users. Eligibility, Accounts, and Registration</span></p>
                <p><span><span>By using the services provided by Merogiftcard digital store PVT LTD, you represent and warrant that you are 13 years of age or older.</span></span></p>
                <p><span><span>To use these Services, you must register for an online account.</span></span></p>
                <p><span><span>You may only register for one account, and you agree to the following:</span></span></p>
                <p><span><span>(i) Provide accurate, current, and complete information;</span></span></p>
                <p><span><span>(ii) maintain and promptly update your account information to keep it accurate, current and complete;</span></span></p>
                <p><span><span>(iii) maintain the security of your password and accept all risks of unauthorized access to your account; and</span></span></p>
                <p><span><span>(iv) promptly notify BAKUZONE if you discover or otherwise suspect any security breaches related to the Services.</span></span></p>
                <p><span><span><br/></span></span></p>
                <p><span><span>Trademarks</span></span></p>
                <p><span><span>“Bakuzone” and all graphics, logo marks, and slogans related to Bakuzone are trademarks of Merogiftcard Digital Store Pvt Ltd.</span></span></p>
                <p><span><span>Third-Party Sites and Services: Third-Party Materials</span></span></p>
                <p><span><span>Bakuzone may link to third-party services. We do not endorse or control what these third-party services do. Bakuzone is not responsible or liable for any issues you have with third-party services. If you access third-party services or materials, Merogiftcard’s (bakuzone) terms &amp; services no longer apply.</span></span></p>
                <h2><span>Disclaimers</span></h2>
                <p><span><span>YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, SAFETY, ACCURACY AND EFFORT IS WITH YOU.</span></span></p>
                <p><span><span>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.</span></span></p>
                <p><span><span>BAKUZONE DISCLAIMS ANY AND ALL WARRANTIES AND REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE SERVICES AND THE CONTENT CONTAINED THEREIN, INCLUDING ANY AND ALL:</span></span></p>
                <p><span><span>(I) WARRANTIES OF MERCHANTABILITY; (II) WARRANTIES OF FITNESS OR SUITABILITY FOR ANY PURPOSE (WHETHER OR NOT BAKUZONE KNOWS, HAS REASON TO KNOW, HAS BEEN ADVISED OR IS OTHERWISE AWARE OF ANY SUCH PURPOSE);</span></span></p>
                <p><span><span>AND (III) WARRANTIES OF NON-INFRINGEMENT OR CONDITION OF TITLE.</span></span></p>
                <p><span><span>BAKUZONE DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE SERVICES WILL BE ACCURATE OR MEET YOUR REQUIREMENTS, THAT THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE,</span></span></p>
                <p><span><span>OR THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED. NO ORAL OR WRITTEN INFORMATION, GUIDELINES OR ADVICE GIVEN BY BAKUZONE OR OUR AUTHORIZED REPRESENTATIVE WILL CREATE A WARRANTY.</span></span></p>
                <p><span><span>SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS, SO SOME OR ALL OF THE DISCLAIMERS IN THIS SECTION MAY NOT APPLY TO YOU.</span></span></p>
                <p><span><span>BAKUZONE is based in Nepal and our Services are subject to Nepal law.</span></span></p>
                <p><span><span>We make no representations or warranties that the Services are appropriate or available for use in other locations.</span></span></p>
                <p><span><span>If you choose to access or use the Services from locations outside the United States, you do so at your own risk and are responsible for compliance with all applicable laws, rules and regulations.</span></span></p>
                <p><span><span>Your Services may also be subject to local, state, national, or international laws.</span></span></p>
                <p><span><span>You agree that any action at law or in equity arising out of or relating to the Services or the terms will be filed only in the state and federal courts located in Travis County, Texas, </span></span><span>and you irrevocably and unconditionally consent and submit to the exclusive jurisdiction of such courts over any suit, action or proceeding arising out of the Services (including, but not limited to, your use of the Services).</span></p>
                <h2><span><span>Intellectual Property Rights</span></span></h2>
                <p><span><span>You acknowledge and agree that, in the event of any third-party claim that BAKUZONE mobile applications, or your possession and use thereof, infringe that third-party’s intellectual property rights, BAKUZONE, and not Apple, </span></span><span>will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required under these Terms.</span></p>
                <h2><span><span>Termination or Modification of Services</span></span></h2>
                <p><span><span>BAKUZONE reserves the right to change, suspend, remove, discontinue or disable access to the Services at any time and without notice. In no event will BAKUZONE be liable for removing or disabling access to any portion or feature of the Services.</span></span></p>
                <h2><span><span>Severability</span></span></h2>
                <p><span><span>If any provision of these Terms shall be deemed unlawful, void, or unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</span></span></p>
                <p><span><span>Last Updated: January 18, 2024</span></span></p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}