<!-- password_reset_confirm.html -->
{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
reset confirm
{% endblock title %}

{% block content %}

{% if valid_link %}
    <form method="post">
        {% csrf_token %}
        <label for="password">New Password:</label>
        <input type="password" name="password" required>
        <label for="password_confirm">Confirm New Password:</label>
        <input type="password" name="password_confirm" required>
        <button type="submit">Reset Password</button>
    </form>
{% else %}
    <p>This link is invalid.</p>
{% endif %}

{% endblock content %}








