
{%load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> Change Password  |  Gold Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Hospital Management System" name="description" />
    <meta content="Doctorly" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/build/images/favicon.ico' %}">

    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/swiper%4011/swiper-bundle.min.css'%}" />
    <!-- App css -->
<link href="{% static 'dashboard/build/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/libs/toastr/build/toastr.min.css'%}" rel="stylesheet" type="text/css">

</head>

<body>

<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>

    <div class="home-btn d-none d-sm-block">
        <a href="{% url 'dashboard:index' %}" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary"> Change Password</h5>
                                        <p>Re-Password with GoldPlayer</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{% static 'dashboard/build/images/profile-img.png'%}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">
                                <a href="/" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{% static 'dashboard/build/images/logo-light.svg'%}" alt=""
                                                class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                                <a href="/" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{% static 'dashboard/build/images/logo.svg'%}" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="form-horizontal" method="POST" action="{% url 'dashboard:change_password'%}">

                                    {% csrf_token %}
                                    {% if messages %}
                                    {% for msg in messages %}
                                        <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                                                        <div class="mb-3">
                                        <label for="oldpassword">Current Password <span
                                            class="text-danger">*</span></label>
                                        <input type="password" class="form-control " name="{{ form.old_password.name }}" id="oldpassword" placeholder="Enter Current password">
                                                                            </div>
                                    <div class="mb-3">
                                        <label for="newpassword">New Password <span
                                            class="text-danger">*</span></label>
                                        <input type="password" class="form-control " name="{{ form.new_password1.name }}" id="newpassword" placeholder="Enter New password">
                                                                            </div>
                                    <div class="mb-3">
                                        <label for="userpassword">Confirm Password <span
                                            class="text-danger">*</span></label>
                                        <input type="password" id="userpassword" name="{{ form.new_password2.name }}" class="form-control " name="password" placeholder="Enter confirm password">
                                    </div>
                                    <div class="mb-3 row mb-0">
                                        <div class="col-12 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>© All right reserved 2024 | powered by <a href="www.kitwosd.com" style="text-decoration: none">kitwosd</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- JAVASCRIPT -->
<script src="{% static 'dashboard/build/libs/jquery/jquery.min.js'%}"></script>
<script src="{% static 'dashboard/build/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'dashboard/build/libs/metismenu/metisMenu.min.js'%}"></script>
<script src="{% static 'dashboard/build/libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'dashboard/build/libs/node-waves/waves.min.js'%}"></script>
<script src="{% static 'dashboard/build/libs/toastr/toastr.js'%}"></script>;

                <!-- Plugin Js-->
        <script src="{% static 'dashboard/build/libs/apexcharts/apexcharts.min.js'%}"></script>
        <script src="{% static 'dashboard/build/js/pages/dashboard.init.js'%}"></script>
            <!-- App js -->
        <script src="{% static 'dashboard/build/js/app.min.js'%}"></script>
        <script>
                                                    function notifyCount() {
                    var load_count = $('.badge-pill').html();
                    var token = $("input[name='_token']").val();
                    $.ajax({
                        type: "get",
                        url: "/notification-count",
                        data: {
                            _token: token,
                        },
                        success: function(data) {
                            $('.badge-pill').html(data);
                            if (load_count < data) {
                                notificationShow();
                            }
                        },
                        error: function(data) {
                            console.log(data);
                        }
                    });
                }
                setInterval(function() {
                    notifyCount();
                }, 10000);
                                        function notificationShow() {
                    var token = $("input[name='_token']").val();
                    $.ajax({
                        type: "POST",
                        url: "/top-notification",
                        data: {
                            _token: token,
                        },
                        success: function(data) {
                            $('.notification-list-scroll').html(data.options);
                        },
                        error: function(data) {
                            console.log(data);
                        }
                    });
                }
                setInterval(function() {
                    notificationShow();
                }, 5000);
                    </script>
        
</body>

</html>
